<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>

<form action="/new" method="post" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="カウントの名前を入力">
  <input type="file" name="file">
  <input type="submit" value="追加">
</form>

</body>
</html>
