nav{
  width:100vw;
  height:10vh;
  background-color:#222222;
}


.indexbody {
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-image: url(/public/img/signup.jpg);
}